@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-veryDarkGrey;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.FormLabel[data-invalid] {
  border: solid red 1px;
} */

.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 70px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #3e3f4e;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }
}
